/* LandingPage.css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

.landing-page {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: #f8f8f8;
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('https://cdn.pixabay.com/photo/2017/07/13/08/59/greenhouse-2499758_1280.jpg');
  background-size: 100% 100%;
  background-position: center;
  filter: brightness(0.6);
}
.content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  backdrop-filter: blur(4px);
  background-color: rgba(0,0,0,0.5);
  gap: 120px;
}

.landing_content {
  z-index: 1;
  text-align: center;
  width: 500px;
  height: 400px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.content p,
.content h1 {
  color:  white;
 
}

.content h1 {
  font-size: 48px;
  padding: 0 50px;
  margin-bottom: 10px;
}
.landing_content p {
  font-size: 22px;
}

.divider {
  width: 50px;
  height: 2px;
  background-color: #4caf50;
  margin: 10px 0;
}

.get-started-button {
  padding: 15px 25px;
  font-size: 23px;
  border: none;
  border-radius: 5px;
  background-color: #4caf50;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 40px;
}

.get-started-button:hover {
  background-color: #45a049;
}

/* ProductList.css */

.product-list-container {
  position: absolute;
  overflow-x: hidden;
  top: 100vh;
  /* Initially off-screen */
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.9);
  /* Adjust background opacity as needed */
  transition: top 0.5s ease;
  /* Smooth transition for top property */
  overflow-y: auto;
  /* Enable vertical scrolling */
  z-index: 2;
  /* Ensure it's above landing page content */
  backdrop-filter: blur(5px);
}

.product-list-container.visible {
  top: 0;
}
/* LandingPage.css */

@media screen and (max-width: 1200px) {
  .content {
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
  }

  .landing_content {
    text-align: center;
  }

/*   .aboutus_container {
    
  } */
}

@media screen and (max-width: 768px) {
  .landing_content {
    margin-top: 0px; /* Adjust as needed */
    width: 90%; /* Adjust as needed */
    text-align: center;
    height: 40%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
  }

  .aboutus_container {
    width: 90%; /* Adjust as needed */
  }
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
  .content h1 {
    font-size: 30px;
    padding: 0 0;
    margin-bottom: 0;
  }
  .landing_content p {
    font-size: 18px;
  }
  .divider {
    margin: 0 0;
  }
  .get-started-button {
    padding: 10px 18px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #4caf50;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px;
  }
}
